body {
    font-family: "Noto sans", sans-serif;
    background-color: #1d2b3b;
    color: #fff;
}

header img {
    max-height: 30px;
}

p {
    font-weight: 400;
    color: #9cb9d6;
}

hr {
    opacity: 12%;
}

textarea {
    background-color: #ffffff1c;
    max-width: 600px;
    min-height: 200px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    field-sizing: content;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: #ffffff7a;
}

.inactivate {
    font-style: oblique;
    user-select: none;
    color: #ffffff7a;
}
